@use "../utils/variables" as*;

.home {
    min-height: 100vh;
}

.single_post {
    margin: 1rem auto;
    min-height: 100vh;
    color: $black;
    width: 90%;

    h5 {
        margin-bottom: 1rem;
    }

    code:not(pre code) {
        color: $secColor;
    }

    ol,
    ul {
        list-style-position: inside;
    }
}